@import url('https://fonts.googleapis.com/css?family=Cormorant+SC|Emilys+Candy|Marcellus+SC');

:root {
    --marg: 20px;
    --shadow: 2px 2px 15px #000;
    --btn-bord: 5px solid;
    --txt-shadow: 1px 1px 1px #000;
    --trans: all 300ms ease-in-out;

    --box-color: #ccc;

    --title: 'Emilys Candy', cursive;
    --page: 'Marcellus SC', serif;
    --other: 'Cormorant SC', serif;
}

* {
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    overflow: hidden;
    background-color: #ececec;
    font-family: var(--page);
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

.disappear {
    display: none;
}

/* /////////// HEAD //////////////// */
header {
    width: 100%;
    background-color: #fff;
    letter-spacing: 5px;
    box-shadow: 0px 30px 60px 0px #fff;
    padding-bottom: 1px;

}

header h1 {
    text-align: center;
    font-size: 60px;
    line-height: 80px;
    font-family: var(--title);
    padding-top: 20px;
}

.score {
    width: 500px;
    height: 35px;
    margin: 20px auto;
    position: relative;
}

.score h3 {
    /* display: inline; */
    /* text-align: center; */
    font-size: 35px;
    /* line-height: 60px; */
}

.win-box {
    position: absolute;
    left: 0;
}

.lose-box {
    position: absolute;
    right: 0;
}


/* //////////// Info Center  ////////////// */
.container {
    width: 100%;
    padding: 15px;
    position: relative;
    max-width: 1340px;
    height: 100%;
    margin: 0 auto;
}

.crystals-container, 
.numbers {
    margin: 70px auto;
}


.numbers {
    width: 810px;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
}

.numbers div {
    border: 3px solid var(--box-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 400px;
    height: 130px;
    background-color: #fff;
}

#computer-number {
    float: left;
}

#guess {
    float: right;
}

.numbers div h2 {
    border-bottom: 1px solid var(--box-color);
    margin: 0;
    background-color: var(--box-color);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.crystal-box {
    width: 25%;
    float: left;
    margin: 0;
    opacity: .5;
    transition: var(--trans);
    z-index: 99;
}

.crystal-box:hover {
    opacity: 1;
}

.crystal-box-inner {
    margin: 0 30px;
}

.crystal {
    width: 100%;
    margin: 0 auto;
}

/* ///////////////  MSG Boxes  ///////////////// */
.gameover {
    position: absolute;
    width: 70%;
    height: 300px;
    background-color: #ffffffd3;
    top: 250px;
    left: 50%;
    margin-left: -35%;
    border-radius: 10px;
    text-align: center;
    font-family: var(--title);
    padding: 40px;
    font-size: 80px;
    line-height: 100px;
    box-shadow: 20px 20px 10px 0px #70707060;
}

.win-msg {
    color: #7a91f8;
    border: 5px solid #95a8fc;
}

.lose-msg {
    color: #f87a7a;
    border: 5px solid #fc9595;
}

.start-msg {
    border: 5px solid #93df93;
}

.start-msg p {
    font-size: 20px;
    line-height: 40px;
    font-family: var(--page);
    color: #777;
}

.start-msg button {
    width: 250px;
    height: 100px;
    background-color: #93df93;
    border-radius: 10px;
    border: 5px solid #93df93;
    color: #fff;
    font-family: var(--page);
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-top: 40px;
    box-shadow: var(--shadow);
    transition: var(--trans);
}

.start-msg button:hover {
    background-color: #fff;
    color: #93df93;
    text-shadow: var(--txt-shadow);
}

.start-msg button:active {
    box-shadow: none;
}

@media screen and (max-width: 1400px)  { 
    .numbers div {
        width: 350px;
    }
}

@media screen and (max-width: 1200px)  { 
    .numbers {
        margin: 30px auto;
    }

    .numbers div {
        width: 290px;
        height: 130px;
    }

    header h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .crystals-container {
        margin: 50px auto;
    }

    .crystal-box-inner {
        margin: 0 10px;
    }

    .container {
        max-width: 1140px;
    }
}

@media screen and (max-width: 979px)  { 
    .container {
        max-width: 960px;
    }

    header h1 {
        font-size: 40px;
    }

    .numbers {
        margin: 10px auto;
        width: 590px;
        font-size: 25px;
        line-height: 45px;
    }

    .numbers div {
        width: 250px;
        height: auto;
    }

    .crystals-container {
        margin: 30px auto;
    }

    .crystal-box-inner {
        margin: 0 5px;
    }
}

@media screen and (max-width: 770px)  {
    header h1 {
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 1.5px;
        padding-top: 10px;
    }

    .score {
        width: 400px;
        height: 28px;
        margin: 10px auto 0px auto;
    }

    .score h3 {
        font-size: 22px;
    }

    .container {
        max-width: 720px;
    }

    .numbers {
        margin: 5px auto;
        width: auto;
        max-width: 500px;
        font-size: 20px;
        line-height: 30px;
    }

    .numbers div {
        width: 205px;
    }

    .crystals-container {
        margin: 20px auto;
        width: 420px;
    }

    .crystal-box {
        width: 210px;
        height: 210px;
        /* float: left; */
    }
}

@media screen and (max-width: 500px)  { 
    header h1 {
        font-size: 24px;
        line-height: 35px;
        letter-spacing: .5px;
    }

    .score {
        width: 300px;
        height: 28px;
        margin: 5px auto 0px auto;
    }

    .score h3 {
        font-size: 18px;
        line-height: 30px;
    }

    .numbers {
        font-size: 15px;
        letter-spacing: -.5px;
        max-width: 380px;
    }

    .numbers div {
        width: 150px;
    }

    .crystals-container {
        margin: 20px auto;
        width: 390px;
    }

    .crystal-box {
        width: 195px;
        height: 195px;
    }

    .crystal-box-inner {
        margin: 0 10px;
    }
}

@media screen and (max-width: 425px)  {
    header h1 {
        font-size: 20px;
        line-height: 22px;
        letter-spacing: 0px;
    }

    .score h3 {
        font-size: 15px;
    }

    .score {
        width: 240px;
    }

    .numbers {
        margin: 0px 7px;
        line-height: 22px;
        min-width: 306px;
    }

    .numbers div{
        width: 140px;
    }

    .crystals-container {
        margin: 10px auto;
        width: 290px;
    }

    .crystal-box {
        width: 145px;
        height: 145px;
    }

    .container {
        padding: 15px 0;
    }
}